<!DOCTYPE html>
<html ng-app="myApp" >
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>  
<body ng-controller="validateCtrl">
<form  
name="myForm" ng-hide="isValid" novalidate>

<p>Username:<br>
<input type="text" name="user" ng-model="user.username" required>

</p>

<p>Password:<br>
<input data-ng-model='user.password' type="password" name='password' placeholder='password' required>
      <div ng-show="form.password.$error.required">
        Field required</div>
</p>
<button ng-click="validate()">Click me!</button>
<p ng-show="loginError">Invalid Username / Password.</p>
</form>
<form ng-show="isValid">
<p>
<select ng-model="types" ng-options="x.id as x.name for x in records" ng-change="loadDetails(LOAD_GENRES)">	
</select>
</p>
<p>
<select ng-model="genres" ng-options="x.id as x.name for x in genre_options" ng-change="loadDetails(LOAD_EVENTS)">
</select>
</p>
<p ng-bind-html="currentgenre"></p>
<p>
<select ng-model="events" ng-options="x.event_id as x.name for x in event_options" ng-change="loadDetails(LOAD_EVENT_DATA)">
</select>
</p>
<p>
<button ng-click="addEvent()">Add an Event</button> <input type="text" ng-model="add_event_text"> 
</p>
<div ng-repeat="p in event_parameters">
	{{p.help_text}}<input type="text" ng-model="p.name" value=""><br><br>
</div>
<button ng-click="update()">Update</button>
<p ng-show="fields_not_filled">Fill all fields</p>
</form>

<script>
var app = angular.module('myApp',[]);
app.controller('validateCtrl', function($scope,$http) {
	$scope.event_parameters=[{"name":"","help_text":"Name of the Event: ","ref":"name"},
							 {"name":"","help_text":"Oneline Name: ","ref":"oneline"},
							 {"name":"","help_text":"Introduction: ","ref":"intro"},
							 {"name":"","help_text":"Genre :","ref":"genre"},
							 {"name":"","help_text":"Genrebaap :","ref":"genrebaap"},
							 {"name":"","help_text":"Rules :","ref":"rules"},
							 {"name":"","help_text":"Event ID: ","ref":"event_id"},
							 {"name":"","help_text":"Prizes :","ref":"prizes"},
							 {"name":"","help_text":"Registration :","ref":"registration"},
							 {"name":"","help_text":"Multicity: ","ref":"multicity"}
							 ];
	$scope.LOAD_GENRES=1;
	$scope.GENRE_EVENT_ID=0;
	$scope.fields_not_filled=false;
	$scope.LOAD_EVENTS=2;
	$scope.LOAD_EVENT_DATA=3;
	$scope.valid_users = [
	{
	"username": "kalpesh",
	"password": "kalpesh"
	}
	]
	$scope.isValid=false;
	$http.get("http://localhost:8888/api/data")
    .success(function(data,status) {
    		$scope.records = data;	
    });

    $scope.validate = function()
    {
    	var send_data="username="+$scope.user.username+"&password="+$scope.user.password;
    	$http({ 
        method : 'POST', 
        url : 'http://localhost:8888/checkLogin', 
        data : send_data, 
        responseType : "json",
        headers: {
            "Content-Type": 'application/x-www-form-urlencoded'
        }
      }).success(function(data, status, headers, config){
       		console.log(data);
       		if (data)
       		{
       			$scope.isValid=true;
       			$scope.loginError=false;	
       		}
       		else
       		{
       			$scope.loginError=true;
       		}
       		
      });
    	//REPLACE WITH API CALL
    	
    };
    $scope.loadDetails = function(id)
    {
    	$scope.clearDetails(id);
    	switch (id)
    	{
    		case $scope.LOAD_GENRES:
    			$scope.genre_options=$scope.records[$scope.types-1]['genre'];
    			$scope.GENRE_EVENT_ID=$scope.records[$scope.types-1]['next_id'];
    			$scope.event_options=[];
    			break;
    		case $scope.LOAD_EVENTS:
    			$scope.event_options=$scope.genre_options[$scope.genres-1]['details'];
                $scope.currentgenre=$scope.genre_options[$scope.genres-1]['intro'];
    			break;
    		case $scope.LOAD_EVENT_DATA:
    			for (var i=0;i<$scope.event_options.length;i++)
    			{
    				if ($scope.event_options[i]['event_id']==$scope.events)
    				{
    					$scope.event_selected=$scope.event_options[i];
    					break;
    				}
    			}
    			console.log($scope.event_selected);
    			for (var i=0;i<$scope.event_parameters.length;i++)
    				$scope.event_parameters[i]['name']=$scope.event_selected[$scope.event_parameters[i]['ref']];
    			break;
    	}	
    };
    $scope.clearDetails = function(id)
    {
    	switch(id)
    	{
	    	case $scope.LOAD_GENRES:
	    		$scope.event_options=[];
			case $scope.LOAD_EVENTS:
				for (var i=0;i<$scope.event_parameters.length;i++)
					$scope.event_parameters[i]['name']="";
				break;
		}
    }
    $scope.update = function()
    {
    	if ($scope.types===undefined || $scope.events===undefined || $scope.genres===undefined)
    		$scope.fields_not_filled=true;
    	else
    	{
    		$scope.fields_not_filled=false;
    		var event_position=0;
    		for (var i=0;i<$scope.event_options.length;i++)
    			{
    				if ($scope.event_options[i]['event_id']==$scope.events)
    				{
    					event_position=i;
    					break;
    				}
    			}
    		for (var i=0;i<$scope.event_parameters.length;i++)
    			$scope.event_selected[$scope.event_parameters[i]['ref']]=$scope.event_parameters[i]['name'];

    		$scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'][event_position]=$scope.event_selected;

    		var send_data="data="+encodeURIComponent(JSON.stringify($scope.records,null,4));
    		$http({ 
	        method : 'POST', 
	        url : 'http://localhost:8888/updateDetails', 
	        data : send_data, 
	        responseType : "json",
	        headers: {
	            "Content-Type": 'application/x-www-form-urlencoded'
	        }
	      }).success(function(data, status, headers, config){
	       		if(data)
                {
                    alert("successfully updated");
                }
                else
                {
                    alert("some error, Refresh and try again");
                }
	      });
    	}
    }
    $scope.addEvent = function()
    {
    	console.log($scope.add_event_text);
    	if ($scope.add_event_text===undefined || $scope.add_event_text==="")
    		$scope.add_event_text="Empty!!";
    	else if ($scope.types===undefined || $scope.genres===undefined)
    		$scope.add_event_text="Select Something!!";
    	else
    	{
    		var new_event={
                        "id": [
                            20
                        ],
                        "name": $scope.add_event_text,
                        "oneline": "",
                        "intro": "",
                        "genre": $scope.records[$scope.types-1]['genre'][$scope.genres-1]['name'],
                        "genrebaap": $scope.records[$scope.types-1]['name'],
                        "rules": "",
                        "event_id": $scope.GENRE_EVENT_ID,
                        "prizes": "",
                        "registration": "",
                        "multicity": ""
                    };
    		$scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'].push(new_event);
    		console.log($scope.add_event_text);
    		console.log($scope.GENRE_EVENT_ID);
    		$scope.add_event_text="";
    		$scope.loadDetails($scope.LOAD_GENRES);
    		$scope.loadDetails($scope.LOAD_EVENTS);
    		$scope.events=$scope.GENRE_EVENT_ID;
    		$scope.loadDetails($scope.LOAD_EVENT_DATA);
    		$scope.records[$scope.types-1]['next_id']=$scope.GENRE_EVENT_ID+1;
    		//$scope.clearDetails($scope.LOAD_EVENTS);
    	}
    };

});
</script>
</body>
</html>
