<!DOCTYPE html>
<html ng-app="myApp" >
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
<link rel='stylesheet' href='node_modules/textangular/dist/textAngular.css'>
<link href="http://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.css" rel="stylesheet">
<script src='node_modules/textangular/dist/textAngular-rangy.min.js'></script>
<script src='node_modules/textangular/dist/textAngular-sanitize.min.js'></script>
<script src='node_modules/textangular/dist/textAngular.min.js'></script>
<body ng-controller="validateCtrl">
<div class="container">
<form name="myForm" ng-hide="isValid" novalidate>
<div class="form-group" style="width:30%;">
<label for="username">Username</label>
<input type="text" id="username" class="form-control" name="user" ng-model="user.username" required>
<label for="password">Password</label>
<input id="password" class="form-control" data-ng-model='user.password' type="password" name='password' placeholder='password' required>
</p>
<button class="btn btn-default" ng-click="validate()">Click me!</button>
<div ng-show="loginError" class="alert alert-danger">
  <strong>Invalid Username / Password</strong>
</div>
</div>
</form>


<div ng-show="isValid">

<form class="form-inline">
<select class="form-control" 
        ng-model="types" 
        ng-options="x.id as x.name for x in records" 
        ng-click="GENRE_EVENT_ID=records[types-1]['next_id'];
                    genres=undefined; 
                    events=undefined;
                    event_selected=null; 
                    currentgenre='';
                    clearDetails()" > 
</select>

<select class="form-control" 
        ng-model="genres" 
        ng-options="x.id as x.name for x in records[types-1]['genre']"  
        ng-click=" events=undefined; 
                    clearDetails(); 
                    event_selected=null;
                    currentgenre=records[types-1]['genre'][genres-1]['intro']" >
</select>

<select class="form-control" 
        ng-click="clearDetails(); loadEventData()" 
        ng-model="events" 
        ng-options="x.event_id as x.name for x in records[types-1]['genre'][genres-1]['details']" >
</select>
</form>
<br>
<div class="well">{{currentgenre}}</div>
<form class="form-inline">
<button class="btn btn-default" ng-click="addEvent()">Add an Event</button>
 <input class="form-control" type="text" ng-model="add_event_text"> 
</form>
<br>
<div ng-repeat="p in event_parameters">
    <form class="form-inline">
    <label type="text" for="p.ref">{{p.help_text}}</label>
    <input id="p.ref" class="form-control" type="text" ng-hide="p.textangular" ng-model="p.name" value="">
    <button class="btn btn-default" ng-show="p.textangular" ng-click="p.active=!p.active">{{!p.active? "Edit" : "Save"}}</button>
    </form>
    <br>
    <div ng-show="p.active" style="width:70%; border-style:groove; border-width:5px; border-color:blue" text-angular ng-model="p.name"></div>
</div>
<form class="form-inline">
<button class="btn btn-default" ng-click="update()">Update</button>
<div ng-show="success" class="alert alert-success">Details successfully updated!</div>
<div ng-show="fields_not_filled" class="alert alert-error">Fields not filled!</div>
<form>    
</div>
</div>

<script>
var app = angular.module('myApp',['textAngular']);
app.controller('validateCtrl', function($scope,$http) {
	$scope.event_parameters=[{"name":"","help_text":"Name of the Event: ","ref":"name","active":false,"textangular":false},
							 {"name":"","help_text":"Oneline Name: ","ref":"oneline","active":false,"textangular":false},
							 {"name":"","help_text":"Introduction: ","ref":"intro","active":false,"textangular":false},
							 {"name":"","help_text":"Genre :","ref":"genre","active":false,"textangular":false},
							 {"name":"","help_text":"Genrebaap :","ref":"genrebaap","active":false,"textangular":false},
							 {"name":"","help_text":"Rules :","ref":"rules","active":false,"textangular":true},
							 {"name":"","help_text":"Event ID: ","ref":"event_id","active":false,"textangular":false},
							 {"name":"","help_text":"Prizes :","ref":"prizes","active":false,"textangular":false},
							 {"name":"","help_text":"Registration :","ref":"registration","active":false,"textangular":true},
							 {"name":"","help_text":"Multicity: ","ref":"multicity","active":false,"textangular":true}
							 ];
	$scope.fields_not_filled=false;
    $scope.GENRE_EVENT_ID=0;
    $scope.success=false;
	$scope.valid_users = [
	{
	"username": "kalpesh",
	"password": "kalpesh"
	}
	]
	$scope.isValid=false;
	$http.get("http://localhost:8888/api/data")
    .success(function(data,status) {
    		$scope.records = data;	
    });

    $scope.validate = function()
    {
    	var send_data="username="+$scope.user.username+"&password="+$scope.user.password;
    	$http({ 
        method : 'POST', 
        url : 'http://localhost:8888/checkLogin', 
        data : send_data, 
        responseType : "json",
        headers: {
            "Content-Type": 'application/x-www-form-urlencoded'
        }
      }).success(function(data, status, headers, config){
       		console.log(data);
       		if (data)
       		{
       			$scope.isValid=true;
       			$scope.loginError=false;	
       		}
       		else
       		{
       			$scope.loginError=true;
       		}
       		
      });
    	//REPLACE WITH API CALL
    	
    };
    $scope.loadEventData = function()
    {
        
            var temp = $scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'];
            for (var i=0;i<temp.length;i++)
            {
                if (temp[i]['event_id']==$scope.events)
                {
                    $scope.event_selected=temp[i];
                    break;
                }
            }
            console.log($scope.event_selected);
            for (var i=0;i<$scope.event_parameters.length;i++)
            $scope.event_parameters[i]['name']=$scope.event_selected[$scope.event_parameters[i]['ref']];
        
    };
    $scope.clearDetails = function()
    {
        $scope.success=false;
        console.log("Clearing fields..");
        console.log($scope.event_parameters);
        for (var i=0;i<$scope.event_parameters.length;i++)
            $scope.event_parameters[i]['name']="";

    }
    $scope.update = function()
    {
    	if ($scope.types===undefined || $scope.events===undefined || $scope.genres===undefined)
    		$scope.fields_not_filled=true;
    	else
    	{
    		$scope.fields_not_filled=false;
    		var event_position=0;
            var temp = $scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'];
    		for (var i=0;i<temp.length;i++)
    			{
    				if (temp[i]['event_id']==$scope.events)
    				{
    					event_position=i;
    					break;
    				}
    			}
    		for (var i=0;i<$scope.event_parameters.length;i++)
    			$scope.event_selected[$scope.event_parameters[i]['ref']]=$scope.event_parameters[i]['name'];

    		$scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'][event_position]=$scope.event_selected;

    		var send_data="data="+encodeURIComponent(JSON.stringify($scope.records,null,4));
    		$http({ 
	        method : 'POST', 
	        url : 'http://localhost:8888/updateDetails', 
	        data : send_data, 
	        responseType : "json",
	        headers: {
	            "Content-Type": 'application/x-www-form-urlencoded'
	        }
	      }).success(function(data, status, headers, config){
	       		if(data)
                {
                    $scope.success=true;
                }
                else
                {
                    alert("some error, Refresh and try again");
                }
	      });
    	}
    }
    $scope.addEvent = function()
    {
        console.log("ID of new event is "+$scope.GENRE_EVENT_ID);
    	if ($scope.add_event_text===undefined || $scope.add_event_text==="")
    		$scope.add_event_text="Empty!!";
    	else if ($scope.types===undefined || $scope.genres===undefined)
    		$scope.add_event_text="Select Something!!";
    	else
    	{
    		var new_event={
                        "id": [
                            20
                        ],
                        "name": $scope.add_event_text,
                        "oneline": "",
                        "intro": "",
                        "genre": $scope.records[$scope.types-1]['genre'][$scope.genres-1]['name'],
                        "genrebaap": $scope.records[$scope.types-1]['name'],
                        "rules": "",
                        "event_id": $scope.GENRE_EVENT_ID,
                        "prizes": "",
                        "registration": "",
                        "multicity": ""
                    };
    		$scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'].push(new_event);
            console.log($scope.add_event_text);
    		console.log($scope.GENRE_EVENT_ID);
    		$scope.add_event_text="";
    		var temp = $scope.records[$scope.types-1]['genre'][$scope.genres-1]['details'];
            $scope.events=$scope.GENRE_EVENT_ID;
            $scope.loadEventData();
            $scope.records[$scope.types-1]['next_id']=$scope.GENRE_EVENT_ID+1;
            $scope.GENRE_EVENT_ID+=1;
    		//$scope.clearDetails($scope.LOAD_EVENTS);
    	}
    };

});
</script>
</body>
</html>
